[Unit]
Description=Start AA Head on startup

[Service]
Type=forking
User=django_aa
StandardOutput=tty
ExecStart=/bin/sh -c "/opt/aa_httpd/apachectl start"

[Install]
WantedBy=multi-user.target
