[Unit]
Description=Start AA Workers on startup

[Service]
Type=oneshot
KillMode=control-group
RemainAfterExit=yes
Restart=no
StandardOutput=tty
User=django_worker
WorkingDirectory=/home/django_worker/analytics_automated/
Environment=DRMAA_LIBRARY_PATH=/opt/ogs_src/GE2011.11/lib/linux-x64/libdrmaa.so
Environment=SGE_ROOT=/opt/ogs_src/GE2011.11/
ExecStart=/bin/sh -c "source /home/django_worker/aa_env/bin/activate; celery --app=analytics_automated_project.celery:app worker --loglevel=INFO -Q localhost,celery,gridengine,low_gridengine,high_gridengine,low_R,R,high_R,low_Python,Python,high_Python --detach --pidfile=celery.pid"

[Install]
WantedBy=multi-user.target
